<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SessionManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletOne</display-name>
    <servlet-name>ServletOne</servlet-name>
    <servlet-class>com.revature.servlets.ServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOne</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTwo</display-name>
    <servlet-name>ServletTwo</servlet-name>
    <servlet-class>com.revature.servlets.ServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTwo</servlet-name>
    <url-pattern>/two</url-pattern>
  </servlet-mapping>
</web-app>