body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #d6efff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.5s ease-in-out;
}

.container {
    background-color: rgb(138, 55, 174);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(185, 146, 146, 0.2);
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
}

.calculator-image {
    width: 180px;
    height: auto;
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out;
}

.calculator-image:hover {
    transform: rotate(30deg);
}

h1 {
    margin-bottom: 35px;
    color: #dd4a0b;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #ef4f0a;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 12px 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #a26695;
    color: rgba(255, 255, 255, 0.557);
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #00b32dab;
}

button:active {
    transform: scale(0.95);
}

label {
    display: block;
    margin-top: 25px;
    font-size: 20px;
    color: #00c3ff;
    font-weight: bold;
}
