<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        https://www.springframework.org/schema/context/spring-context.xsd">

    
    <context:property-placeholder location="car.properties"/>

   
    <bean id="myVehicle" class="com.revature.vehicles.Car">
    
    <!--<constructor-arg ref="myDiscountService"/> -->
    
        <property name="discountService" ref="myDiscountService"></property>
        <property name="brandName" value="Honda"></property>
        <property name="Mrp" value="${car.mrp}"></property>
    </bean>
    
    <!-- Definition of a Discount Service bean -->
    <bean id="myDiscountService" class="com.revature.vehicles.FestivalDiscountService">
        <!-- You can add property configurations here if needed -->
    </bean>

</beans>
